body {
    margin: 0;
    background-color: #D2B48C;
}

#character-list{
    display: flex;
    margin: 5px;
    height: 200px;
    background-color: #f2f3ae;
    overflow: auto;
}

img{
    margin: 10px;
}

#character-info{
    display: flex;
}

#character-image{
    border: solid black 2px;
}

#character-search-form{
    border: solid black 2px;
    margin-left: 550px;
    padding: 10px;
}

.search-segments{
    margin: 20px;
}